@charset "utf-8";

body{
    font-family:cursive;
    background-color: rgba(255, 166, 0, 0.37);
    padding-left: 10px;
    
}

h1{
    background-color: rgba(255, 166, 0, 0.144);
}

nav{
    background-color: rgba(255, 166, 0, 0.137);
    padding: 10px;
     }
a{
    text-decoration: none;
}
nav > a{
    display: inline-block;
    width: 100px;
    background-color: rgba(0, 0, 255, 0.219);
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.200);
    border-radius: 10px 0px;
        
}
nav > a:hover{
    text-decoration: underline;
    
}
nav a::after{
    content: ' [Link]';
    font-size: 0.6em;
    color: blueviolet;
}

main{
    background-color: rgba(255, 166, 0, 0.089);
    padding-left: 10px;
}

aside{
    background-color: rgba(0, 0, 255, 0.178);
    font-size: 0.8em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.200);
    border-radius: 10px 0px;
    padding-left: 10px;
       
}

footer{
    background-color: black;
    color: aliceblue;
    font-size: 0.6em;
    text-align: center;
    
}
